@{
    ViewData["Title"] = "Shirts";
    Layout = "_Layout";
}

<h3>Products</h3>
<br />
<div class="product-list">
    @foreach (var product in Model)
    {
        <div class="product-item">
            <h4>@product.Name</h4>
            <p>@product.Description</p>
            <p>Price: @product.Price</p>
            <p>Category: @product.Category</p>
            <p>Brand: @product.Brand</p>
            <p>Description: @product.Description</p>

            <!-- Display the product image -->
            <img src="@Url.Content("~" + product.Image)" alt="@product.Name" class="group list-group-image" />


            <a href="/Products/Details/@product.ProductID">View Details</a>
        </div>
        <br />
    }
</div>
