@{
    ViewData["Title"] = "Shirts";
    Layout = "_Layout";
}

<h3>Shirts, wear your story, one stitch at a time.</h3>
<br />
<div class="product-list">
    @foreach (var product in Model)
    {
        <div class="product-item">
            <img src="@Url.Content("~" + product.Image)" alt="@product.Name" class="group list-group-image" />
            <h4>@product.Name</h4>
            <p>Price: @product.Price</p>
            <p>Category: @product.Category</p>
            <p>Brand: @product.Brand</p>
            <p>Description: @product.Description</p>

            <form asp-controller="Cart" asp-action="AddToCart" method="post">
                <input type="hidden" name="productId" value="@product.ProductID"/>

                <label for="quantity">Quantity:</label>
                <input type="number" id="quantity" name="quantity" value="1" min="1" class="form-control" />
                
                <button type="submit" class="btn btn-primary">Add to Cart</button>
            </form>
        </div>
    }
</div>
